<template>
    <div class="wrapper">
        <h1>Simple Gallery</h1>
        <div class="gallery">
           <gallery-item v-for="photo in photos" :url="photo.download_url"/>
        </div>
    </div>
</template>
<script>
    import GalleryItem from "./GalleryItem.vue"
    export default {
        name: 'Gallery',
        data:function () {
            return {
                photos:''
            }
        },
        components: {
            GalleryItem
        },
        created: function () {
                fetch('https://picsum.photos/v2/list?page=2&limit=20')
                    .then(data => data.json())
                    .then(data => this.photos = data);
        }
    }
</script>
<style>
    h1{
        margin-left: 20px;
    }
    .gallery{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .wrapper{
        max-width: 1360px;
        margin: 0 auto;
    }
</style>