<template>
        <div class="gallery__item">
            <img :src="newUrl" alt="Some image."/>
        </div>
</template>

<script>
    export default {
        name: "GalleryItem",
        props:['url'],
        computed: {
            newUrl() {
                return this.url.replace(/\/\d+\/\d+$/, '/1000/1000');
            }
        },
        data: function()
        {
            return ({
                showed: false
            });
        }
    }
</script>

<style scoped>
    .gallery__item{
        margin-top: 10px;
        width: calc(100% / 3 - 10px * 2 / 3);
        outline: none;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.2s;
    }
    .gallery__item img{
        object-fit: cover;
        height: 100%;
        width: 100%;
    }
    .gallery__item:hover{
        transform: scale(1.01);
    }

    .gallery__item:before{
        content: '';
        padding-top: 100%;
        display: block;
    }

    @media (max-width: 1199.98px) {
        .gallery__item {
            width: calc(100% / 2 - 10px * 1 / 2);
        }
    }
    @media (max-width: 767.98px) {
         .gallery__item{
             width: 100%;
         }
    }
</style>